
<main class="site-content" role="main">

        <!--
        カテゴリータイトル
        ==================================== -->

		<section id="recruitmain" class="parallax">
                    <div class="category-caption">
                        <div class="caption-content">
                                <h2 class="animated fadeInDown">RECRUIT</h2>
                                <span class="animated fadeInDown">採用情報</span>
                        </div>

                    </div>
		</section>

        <!--
        End カテゴリータイトルEnd
        ==================================== -->

			<!-- companyprofile section -->
			<section id="recruitmsg" >
				
                              
                                <!-- 採用情報 -->    
                                

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 rec_cont">
                                                <h2>新卒採用</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blueborder mb42"></div>
                                        <div class="cyanborder wow animated slideInLeft"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                  <table>
                                                    <tr><th>業務内容</th><td>要件定義や設計からプログラミング、運用・改善を担当して頂きます。<br>スマートフォンなど新しい領域にもチャレンジして頂ける環境です。</td></tr>
                                                    <tr><th>試用期間</th><td>3ヶ月</td></tr>
                                                    <tr><th>初任給</th><td>大学卒 ●●万円/専門・短大卒 ●●万円　</td></tr>
                                                    <tr><th>昇給</th><td>年1回（4月）</td></tr>
                                                    <tr><th>勤務時間</th><td>８H(内休憩1H）</td></tr>
                                                    <tr><th>休日休暇</th><td>完全週休2日制（土・日・祝）・夏季冬季休暇（各3日）・慶弔休暇<br>
                                                    年間休日120日以上</td></tr>
                                                    <tr><th>勤務地</th><td>本社（横浜市神奈川区）横浜駅から徒歩7分</td></tr>
                                                    <tr><th>福利厚生</th><td>各種社会保険完備・健康診断・横浜ベイスターズ観戦チケット<br>
                                                    交通費全額支給・資格取得支援</td></tr>
                                                    <tr><th>雇用形態</th><td>正社員</td></tr>
                                                  </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cyanborder wow animated slideInRight floR"></div>
                                        <div class="blueborder mt42 mb100"></div>
                                      <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                <h2>社内制度</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sw_system_wrap">
                                                <div class="sw_system">
                                                  <div class="system01">
                                                  <div class="inner">
                                                  <h3>- 健康診断</h3>
                                                  <p>年に１度全員に受けていただきます。</p>
                                                  </div>
                                                </div>
                                                <div class="system02">
                                                  <div class="inner">
                                                  <h3>- スキルUP応援</h3>
                                                  <p>仕事関係の書籍/ツールは<br>会社負担で購入致します。</p>
                                                  </div>
                                                </div>
                                                <div class="system03">
                                                  <div class="inner">
                                                  <h3>- ウォーターサーバー</h3>
                                                  <p>オフィス内にウォーター<br>サーバークリクラを完備。</p>
                                                  </div>
                                                </div>
                                                <div class="system04">
                                                  <div class="inner">
                                                  <h3>- 出産休暇/育児休暇</h3>
                                                  <p>出産前後、女性の活躍を<br>サポートします。取得実績あり。</p>
                                                  </div>
                                                </div>
                                                <div class="system05">
                                                  <div class="inner">
                                                  <h3>- 長期休暇</h3>
                                                  <p>休暇を組み合わせて<br>長期休暇も取得可</p>
                                                  </div>
                                                </div>
                                                <div class="system06">
                                                  <div class="inner">
                                                  <h3>- スケジュール管理</h3>
                                                  <p>プロジェクトの内容により<br>個人でスケジュールを組んでいます。</p>
                                                  </div>
                                                </div>
                                                <div class="system07">
                                                  <div class="inner">
                                                  <h3>- 育児応援</h3>
                                                  <p>勤務時間をずらすことで<br>働くママを応援します。</p>
                                                  </div>
                                                </div>
                                                <div class="system08">
                                                  <div class="inner">
                                                  <h3>- 休憩スペース</h3>
                                                  <p>コーヒーマシーン完備。ランチ時<br>にはコミュニケーションの場に。</p>
                                                  </div>
                                                </div>
                                                </div>
                                        </div><!--/.sw_sytem_wrap -->
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 rec_cont">
                                                  <ul class="rectopbtn"><li><a href="" class="btn">採用情報TOPへ　＞</a></li></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blueborder mb100"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 rec_cont">
                                                
                                                <h2>エントリーフォーム</h2>
                                                <div class="entryform">
                                                <form method="POST" action="{{ route('recruit.confirm02') }}">
                                                {{ csrf_field() }}
                                                <div>
                                                <div class="title">お名前（必須）</div>
                                                <input
                                                    name="onamae"
                                                    value="{{ old('onamae') }}"
                                                    type="text">
                                                @if ($errors->has('onamae'))
                                                    <p class="error-message">{{ $errors->first('onamae') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">おなまえ（必須）</div>
                                                <input
                                                    name="furigana"
                                                    value="{{ old('furigana') }}"
                                                    type="text">
                                                @if ($errors->has('furigana'))
                                                    <p class="error-message">{{ $errors->first('furigana') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">生年月日（必須）</div>
                                                <input
                                                    name="byear"
                                                    value="{{ old('byear') }}"
                                                    type="text" class="b_ymd">年
                                                @if ($errors->has('byear'))
                                                    <p class="error-message">{{ $errors->first('byear') }}</p>
                                                @endif

                                                <input
                                                    name="bmonth"
                                                    value="{{ old('bmonth') }}"
                                                    type="text" class="b_ymd">月
                                                @if ($errors->has('bmonth'))
                                                    <p class="error-message">{{ $errors->first('bmonth') }}</p>
                                                @endif
                                                <input
                                                    name="bday"
                                                    value="{{ old('bday') }}"
                                                    type="text" class="b_ymd">日
                                                @if ($errors->has('bday'))
                                                    <p class="error-message">{{ $errors->first('bday') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">メールアドレス（必須）</div>
                                                <input
                                                    name="email"
                                                    value="{{ old('email') }}"
                                                    type="text">
                                                @if ($errors->has('email'))
                                                    <p class="error-message">{{ $errors->first('email') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">電話番号（必須）</div>
                                                <input
                                                    name="telnumber"
                                                    value="{{ old('telnumber') }}"
                                                    type="text">
                                                @if ($errors->has('telnumber'))
                                                    <p class="error-message">{{ $errors->first('telnumber') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">性別（必須）</div>
                                                    <label><input name="gender" type="radio" value="男性" checked="checked">男性</label>
                                                    <label><input name="gender" type="radio" value="女性">女性</label>
                                                @if ($errors->has('gender'))
                                                    <p class="error-message">{{ $errors->first('gender') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">学校名（必須）</div>
                                                <input
                                                    name="schoolname"
                                                    value="{{ old('schoolname') }}"
                                                    type="text">
                                                @if ($errors->has('schoolname'))
                                                    <p class="error-message">{{ $errors->first('schoolname') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <div class="title">志望動機・経験内容・メッセージなど</div>
                                                <textarea name="body">{{ old('body') }}</textarea>
                                                @if ($errors->has('body'))
                                                    <p class="error-message">{{ $errors->first('body') }}</p>
                                                @endif
                                                </div>
                                                <div>
                                                <button type="submit">
                                                    入力内容確認
                                                </button>
                                                </div>
                                            </form>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                <!-- 採用情報 end -->

<div class="blueborder mb100"></div>

			</section>
			<!-- end companyprofile section -->

        </main>
        <div class="contactB">
                <h2>CONTACT</h2>
                <h4>お問い合わせ</h4>
                <p>ホームページやECサイトの制作、各種デザインのご依頼・ご相談はこちらからお問い合わせください。</p>
                
                    <ul>
                        <li class="telN"><a href="" class="btn">045-534-7932 &rsaquo;</a></li>
                        <li class="contactF"><a href="" class="btn">CONTACT FORM &rsaquo;</a></li>
                    </ul>
                
            </div>

